/* line 3, ../sass/base/_fieldsets.scss */
fieldset {
  margin-left: 0;
  margin-right: 0;
  padding: 10.5px 1em 21px 1em; }

/* line 2, ../sass/base/_forms.scss */
.form-item input[type="text"],
.form-item input[type="email"],
.form-item textarea {
  max-width: inherit; }

/**
 * $HEADER
 */
/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%;
  height: auto; }

/* line 106, ../../../../../../../../../Users/spencertwiehaus/.rvm/rubies/ruby-2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 87.5%;
  line-height: 1.5em; }

/* line 4, ../sass/base/_typography.scss */
h1 {
  font-size: 32px;
  line-height: 1.25; }

/* line 8, ../sass/base/_typography.scss */
h2 {
  font-size: 28px; }

/* line 11, ../sass/base/_typography.scss */
h3 {
  font-size: 24px; }

/* line 15, ../sass/base/_typography.scss */
p {
  font-size: 14px;
  margin: 0; }

/**
 * $COMMENT-WRAPPER
 */
/* line 4, ../sass/components/_comment-wrapper.scss */
.comment-wrapper {
  padding: 21px 1em; }

/* line 13, ../sass/components/_formalize.scss */
.input_tiny {
  width: 50px; }

/* line 17, ../sass/components/_formalize.scss */
.input_small {
  width: 100px; }

/* line 21, ../sass/components/_formalize.scss */
.input_medium {
  width: 150px; }

/* line 25, ../sass/components/_formalize.scss */
.input_large {
  width: 200px; }

/* line 29, ../sass/components/_formalize.scss */
.input_xlarge {
  width: 250px; }

/* line 33, ../sass/components/_formalize.scss */
.input_xxlarge {
  width: 300px; }

/* line 53, ../sass/components/_formalize.scss */
input[type="search"]::-webkit-search-decoration {
  display: none; }

/* line 64, ../sass/components/_formalize.scss */
input:invalid,
button:invalid,
a.button:invalid,
select:invalid,
textarea:invalid {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }
/* line 69, ../sass/components/_formalize.scss */
input:focus,
button:focus,
a.button:focus,
select:focus,
textarea:focus {
  -moz-box-shadow: 0 3px #999;
  -webkit-box-shadow: 0 3px #999;
  box-shadow: 0 3px #999;
  z-index: 1; }

/* line 79, ../sass/components/_formalize.scss */
input[type="file"]:focus, input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

/* line 85, ../sass/components/_formalize.scss */
button,
a.button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  border: 0;
  padding: 8px 24px;
  border-radius: 2px;
  cursor: none;
  color: #ffcccc;
  display: inline-block;
  outline: 0;
  overflow: visible;
  margin: 0;
  text-decoration: none;
  vertical-align: top;
  width: auto;
  background-color: #800000; }
  /* line 118, ../sass/components/_formalize.scss */
  button:hover,
  a.button:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover,
  input[type="button"]:hover {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMXB4IiBzdG9wLWNvbG9yPSIjZWVlZWVlIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjY2NjY2NjIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(1px, #eeeeee), color-stop(100%, #cccccc));
    background-image: -moz-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
    background-image: -webkit-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
    background-image: linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
    text-decoration: none;
    color: #800000; }
  /* line 124, ../sass/components/_formalize.scss */
  button:active,
  a.button:active,
  input[type="reset"]:active,
  input[type="submit"]:active,
  input[type="button"]:active {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dddddd), color-stop(100%, #eeeeee));
    background-image: -moz-linear-gradient(#dddddd, #eeeeee);
    background-image: -webkit-linear-gradient(#dddddd, #eeeeee);
    background-image: linear-gradient(#dddddd, #eeeeee);
    -moz-box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
    -webkit-box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
    box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
    border-color: #999 #bbb #ddd; }
  /* line 138, ../sass/components/_formalize.scss */
  button::-moz-focus-inner,
  a.button::-moz-focus-inner,
  input[type="reset"]::-moz-focus-inner,
  input[type="submit"]::-moz-focus-inner,
  input[type="button"]::-moz-focus-inner {
    border-radius: 0;
    padding: 5px 10px; }

/* line 157, ../sass/components/_formalize.scss */
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-appearance: none;
  background-color: #f2f2f2;
  border: none;
  color: black;
  outline: 0;
  margin: 0;
  padding: 4px 6px;
  text-align: left;
  font-size: 13px;
  height: 2.8em;
  vertical-align: top;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif; }
  /* line 199, ../sass/components/_formalize.scss */
  textarea[disabled],
  select[disabled],
  input[type="date"][disabled],
  input[type="datetime"][disabled],
  input[type="datetime-local"][disabled],
  input[type="email"][disabled],
  input[type="month"][disabled],
  input[type="number"][disabled],
  input[type="password"][disabled],
  input[type="search"][disabled],
  input[type="tel"][disabled],
  input[type="text"][disabled],
  input[type="time"][disabled],
  input[type="url"][disabled],
  input[type="week"][disabled] {
    background-color: #eee; }

/* line 204, ../sass/components/_formalize.scss */
button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
a.button_disabled {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  color: #888;
  cursor: default; }

/* line 223, ../sass/components/_formalize.scss */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #888; }

/* line 228, ../sass/components/_formalize.scss */
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888; }

/* line 233, ../sass/components/_formalize.scss */
input.placeholder_text,
textarea.placeholder_text {
  color: #888; }

/* line 238, ../sass/components/_formalize.scss */
textarea,
select[size],
select[multiple] {
  height: auto; }

/* line 246, ../sass/components/_formalize.scss */
select[size="0"],
select[size="1"] {
  height: 1.8em; }

@media (-webkit-min-device-pixel-ratio: 0) {
  /* line 258, ../sass/components/_formalize.scss */
  select[size],
  select[multiple],
  select[multiple][size] {
    background-image: none;
    padding-right: 3px; }

  /* line 265, ../sass/components/_formalize.scss */
  select,
  select[size="0"],
  select[size="1"] {
    background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px; }

  /* line 275, ../sass/components/_formalize.scss */
  ::-webkit-validation-bubble-message {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666), color-stop(1, black));
    border: 0;
    color: white;
    font: 13px/17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: black 0 0 1px;
    min-height: 16px; }

  /* line 288, ../sass/components/_formalize.scss */
  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666;
    border-color: #666; } }
/* line 298, ../sass/components/_formalize.scss */
textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%; }

/* line 305, ../sass/components/_formalize.scss */
optgroup {
  color: black;
  font-style: normal;
  font-weight: normal;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif; }
  /* line 315, ../sass/components/_formalize.scss */
  optgroup::-moz-focus-inner {
    border: 0;
    padding: 0; }

/* Strip bullets from main menu and set to in-line */
/* line 4, ../sass/components/_navigation.scss */
nav.block--system-main-menu ul.menu,
nav.omni-chi-menu--main-menu ul.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0; }
  /* line 11, ../../../../../../../../../Users/spencertwiehaus/.rvm/rubies/ruby-2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_bullets.scss */
  nav.block--system-main-menu ul.menu li,
  nav.omni-chi-menu--main-menu ul.menu li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0; }
  /* line 13, ../../../../../../../../../Users/spencertwiehaus/.rvm/rubies/ruby-2.2.1/lib/ruby/gems/2.2.0/gems/toolkit-2.10.0/stylesheets/toolkit/_clearfix.scss */
  nav.block--system-main-menu ul.menu:after,
  nav.omni-chi-menu--main-menu ul.menu:after {
    content: "";
    display: table;
    clear: both; }
  /* line 49, ../../../../../../../../../Users/spencertwiehaus/.rvm/rubies/ruby-2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_inline-block-list.scss */
  nav.block--system-main-menu ul.menu li,
  nav.omni-chi-menu--main-menu ul.menu li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    white-space: nowrap;
    padding-left: 1em;
    padding-right: 1em; }
/* line 9, ../sass/components/_navigation.scss */
nav.block--system-main-menu a,
nav.omni-chi-menu--main-menu a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  cursor: pointer; }
  /* line 6, ../../../../../../../../../Users/spencertwiehaus/.rvm/rubies/ruby-2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_unstyled-link.scss */
  nav.block--system-main-menu a:active, nav.block--system-main-menu a:focus,
  nav.omni-chi-menu--main-menu a:active,
  nav.omni-chi-menu--main-menu a:focus {
    outline: none; }

/*# sourceMappingURL=omni-chi.no-query.css.map */
