/* line 21, ../../../sass/layouts/omni_beta/omni_beta-layout.scss */
.l-constrained {
  max-width: 1540px;
  width: 95%;
  margin: 0 auto;
  *zoom: 1; }
  /* line 38, ../../../../../../../../../../../Users/spencertwiehaus/.rvm/rubies/ruby-2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
  .l-constrained:after {
    content: "";
    display: table;
    clear: both; }

/* line 29, ../../../sass/layouts/omni_beta/omni_beta-layout.scss */
.l-header,
.l-highlight,
.l-main,
.l-lower,
.l-footer {
  margin-bottom: 21px;
  *zoom: 1; }
  /* line 38, ../../../../../../../../../../../Users/spencertwiehaus/.rvm/rubies/ruby-2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
  .l-header:after,
  .l-highlight:after,
  .l-main:after,
  .l-lower:after,
  .l-footer:after {
    content: "";
    display: table;
    clear: both; }

@media (min-width: 1em) {
  /* line 43, ../../../sass/layouts/omni_beta/omni_beta-layout.scss */
  body nav.block--system-main-menu ul.menu,
  body nav.omni-chi-menu--main-menu ul.menu {
    display: none; }
  /* line 47, ../../../sass/layouts/omni_beta/omni_beta-layout.scss */
  body .slicknav_menu {
    display: block; } }
@media (min-width: 700px) {
  /* line 54, ../../../sass/layouts/omni_beta/omni_beta-layout.scss */
  body nav.block--system-main-menu ul.menu,
  body nav.omni-chi-menu--main-menu ul.menu {
    display: block; }
  /* line 58, ../../../sass/layouts/omni_beta/omni_beta-layout.scss */
  body .slicknav_menu {
    display: none; } }

@media (min-width: 1em) {
  /* line 72, ../../../sass/layouts/omni_beta/omni_beta-layout.scss */
  .omni-chi-beta-default .l-branding img {
    margin: 0 auto;
    display: block; }
  /* line 77, ../../../sass/layouts/omni_beta/omni_beta-layout.scss */
  .omni-chi-beta-default .l-content {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
  /* line 82, ../../../sass/layouts/omni_beta/omni_beta-layout.scss */
  .omni-chi-beta-default .has-one-sidebar .l-region--sidebar-first,
  .omni-chi-beta-default .has-one-sidebar .l-region--sidebar-second,
  .omni-chi-beta-default .has-two-sidebars .l-region--sidebar-first,
  .omni-chi-beta-default .has-two-sidebars .l-region--sidebar-second {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
  /* line 90, ../../../sass/layouts/omni_beta/omni_beta-layout.scss */
  .omni-chi-beta-default .l-footer > .l-region {
    clear: both; } }
@media (min-width: 700px) {
  /* line 96, ../../../sass/layouts/omni_beta/omni_beta-layout.scss */
  .omni-chi-beta-default .l-header {
    margin-top: 21px; }
  /* line 100, ../../../sass/layouts/omni_beta/omni_beta-layout.scss */
  .omni-chi-beta-default .has-no-sidebars .l-content {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
  /* line 106, ../../../sass/layouts/omni_beta/omni_beta-layout.scss */
  .omni-chi-beta-default .has-one-sidebar.has-sidebar-first .l-region--sidebar-first {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  /* line 109, ../../../sass/layouts/omni_beta/omni_beta-layout.scss */
  .omni-chi-beta-default .has-one-sidebar.has-sidebar-first .l-content {
    width: 66.10169%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
  /* line 114, ../../../sass/layouts/omni_beta/omni_beta-layout.scss */
  .omni-chi-beta-default .has-one-sidebar.has-sidebar-second .l-region--sidebar-second {
    width: 32.20339%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
  /* line 117, ../../../sass/layouts/omni_beta/omni_beta-layout.scss */
  .omni-chi-beta-default .has-one-sidebar.has-sidebar-second .l-content {
    width: 66.10169%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  /* line 123, ../../../sass/layouts/omni_beta/omni_beta-layout.scss */
  .omni-chi-beta-default .has-two-sidebars .l-region--sidebar-first {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  /* line 126, ../../../sass/layouts/omni_beta/omni_beta-layout.scss */
  .omni-chi-beta-default .has-two-sidebars .l-content {
    width: 66.10169%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
  /* line 129, ../../../sass/layouts/omni_beta/omni_beta-layout.scss */
  .omni-chi-beta-default .has-two-sidebars .l-region--sidebar-second {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
  /* line 136, ../../../sass/layouts/omni_beta/omni_beta-layout.scss */
  .omni-chi-beta-default .l-branding img {
    margin: 0; }
  /* line 144, ../../../sass/layouts/omni_beta/omni_beta-layout.scss */
  .omni-chi-beta-default .l-footer > .l-region {
    display: inline-block;
    vertical-align: top;
    clear: none; } }
@media (min-width: 1250px) {
  /* line 154, ../../../sass/layouts/omni_beta/omni_beta-layout.scss */
  .omni-chi-beta-default .has-one-sidebar.has-sidebar-first .l-region--sidebar-first {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  /* line 157, ../../../sass/layouts/omni_beta/omni_beta-layout.scss */
  .omni-chi-beta-default .has-one-sidebar.has-sidebar-first .l-content {
    width: 74.57627%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
  /* line 162, ../../../sass/layouts/omni_beta/omni_beta-layout.scss */
  .omni-chi-beta-default .has-one-sidebar.has-sidebar-second .l-content {
    width: 74.57627%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  /* line 165, ../../../sass/layouts/omni_beta/omni_beta-layout.scss */
  .omni-chi-beta-default .has-one-sidebar.has-sidebar-second .l-region--sidebar-second {
    width: 23.72881%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
  /* line 171, ../../../sass/layouts/omni_beta/omni_beta-layout.scss */
  .omni-chi-beta-default .has-two-sidebars .l-region--sidebar-first {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  /* line 174, ../../../sass/layouts/omni_beta/omni_beta-layout.scss */
  .omni-chi-beta-default .has-two-sidebars .l-content {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none; }
  /* line 177, ../../../sass/layouts/omni_beta/omni_beta-layout.scss */
  .omni-chi-beta-default .has-two-sidebars .l-region--sidebar-second {
    width: 23.72881%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }

/*# sourceMappingURL=omni_beta-layout.css.map */
