
// vertical spacing
$vert-spacing-unit: 21px;

// horizontal spacing
$horz-spacing-unit: 1em;

// grid breakpoints
//$zerowidth: 0px;

// mobile
//$mobile: 320px;
//$mobile: 22.85em;

// tablets
$tablet: 700px;
//$tablet: 54.5em;


// desktops and laptops
$normal: 1250px;
//$normal: 87em;

// wide
$wide: 1540px;
//$wide: 130em;


//$grids: 4;
//$grids: add-grid(12 at $tablet);
//$gutters: 1/3;
